body{
  width:45%;
  margin:auto;
  color:black;
  font-family: 'Questrial', sans-serif;
}
.main-app{
  background-color:#5DADE2;
  padding:7%;
  border-radius:10px;
  border:solid 1px white;
  padding-bottom:50px;
}
h1{
  font-size:48px;
  font-family:'Gloria Hallelujah', cursive;
}
.today-list{
  font-size:30px;
  font-family: 'Gloria Hallelujah', cursive;
}
button{
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  border-radius:5px;
  margin-top:15px;
  margin-bottom: 15px;
  width:100px;
  /*float: right;*/
}
#groceryList{
  list-style:none;
}
ul li{
  font-size: 25px;
}
p{
  font-size:25px;
}
#nameDiv{
  width:150px;
  float:left;
}

#quantityDiv{
  width:75px;
  float:left;
  text-align: center;
}